* { 
  box-sizing: border-box;
}

/* Base Styles */

body {
  margin: 0;
  padding: 0;
  color: rgb(35, 54, 54);
  background: rgb(255, 255, 238);
  font-family: 'Bitter', serif;
}


h1 {
  color: rgb(255, 255, 238);
  text-transform: uppercase;
  font-size: 1.3125rem;
  font-family: 'Crete Round', serif;
  padding-top: 1.25em;
  padding-bottom: 1.25em; 
  margin: 0 auto;
}

h2 {
  font-size: 1.25rem;
}

h1,
section,
footer {
  text-align: center;
}

header {
  background: rgb(17, 4, 4);
  margin: 0 auto;
}

section {
  padding-top: 1em;
  padding-bottom: .3125em;
  border-bottom: .125em solid rgb(17, 4, 4);
}

section p {
  padding-bottom: 1em;
  line-height: 1.6;
}

section::after {
  content: "";
  border: .1875em solid rgb(17, 4, 4);
  display: block;
}

main {
  margin: 0 auto;
  width: 90%;
}

form {
  background: rgb(255, 245, 190);
  margin-top: .625em;
  border-radius: .625em;
}

footer {
  font-style: italic;
  height: 14em;
}

/* Container Styles */

fieldset {
  border: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.text-area {
  display: block;
  padding-bottom: .625em;
}

/* Form Styles */

p,
label {
  font-size: .875rem;
}

.contact {
  border-bottom: .1875em solid rgb(17, 4, 4);
  padding-bottom: 1.625em;
}

.contact label {
  padding-top: 1em;
  padding-bottom: .1875em;
}

label[for="name"] {
  padding-top: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select[id="state"],
textarea[id="topics"] {
  background: rgb(228, 228, 228);
  padding: 1em;
  border: none;
  border-radius: .3125em;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select[id="state"]:focus,
textarea[id="topics"]:focus {
  color: rgb(1, 5, 66);
  background-color: #fff;
  transition: background-color 1s ease;
}

input[id="zip-code"] {
  max-width: 50%;
}

input[placeholder="Required"] {
  font-style: italic;
  text-align: right;
}

input[placeholder="Required"]:focus {
  text-align: left;
  font-style: normal;
}

.newsletter {
  line-height: 1.6;
  padding-bottom: 1em;
}

.check {
  padding-top: 1em;
}

textarea {
  width: 100%;
  height: 8em;
}

button {
  text-align: center;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: 1.3125em;
  background: rgb(46, 108, 146);
  color: lightyellow;
  font-weight: bold;
  letter-spacing: .0625em;
  border: none;
  border-radius: .3125em;
  text-shadow: -1px 1px 3px rgb(0, 0, 78);
}

button:hover {
  background: rgb(127, 202, 248);
}

button:active {
  color: rgb(255, 255, 25);
  background: rgb(81, 188, 255);
  border: none;
  box-shadow: 0 0 2px 1px rgba(0,0,0, .2);
}

@media screen and (min-width: 768px) {

  main {
    width: 60%;
  }

  section {
    padding-top: 1.625em;
  }
  
  section p {
    padding-bottom: 1.625em;
  }

  .flex {
    flex-direction: row;
    padding-bottom: 1em;
  }

  .flex:last-child {
    padding-bottom: 1.625em;
  }

  .title {
    flex-grow: 1;
  } 

  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6,
  .item-7 {
    align-self: center;
    flex-basis: 9em;
  }

  .contact {
    margin-top: 2em;
  }

  .contact label {
    padding: 0;
  }

  .field {
    padding-top: 1.3125em;
  }

  input[id="zip-code"] {
    max-width: 25%;
  }

}






